
/* #56594A #D99789 #f2ede4 #d9Ad77 #bf6d4e */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0px;
  border-top: 1px solid hsla(0, 0%, 0%, 0.078);
  background-color: #56594A;
  height: 70px;
}


.navbar ul li:hover {
  color: #f2ede4;
}

.navbar .bars {
  display: none;
}

.special_link {
  position: relative;
  border: none;
  background: none;
  padding: 0;
}

.stick_btn {
  background-color: #007a4f;
  border: none;
  padding: 9px 22px;
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: system-ui;
  margin-right: 8px;
}

.stick_btn:hover {
  background-color: #334a7c;
}

.logo,
.sticky_logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 14px 0px;
  height: 140px;
}

.logo a {
  background: url(/assets/images/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 160px;
}

/* navbar end */

/* stickt navbar start  */
.stick_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0px;
  position: fixed;
  transition: top 0.3s;
  background-color: #fff;
  height: 60px;
  z-index: 701;
  background: #fff;
  opacity: .97;
  top: 0;
}



.stick_nav ul {
  list-style: none;
  display: flex;
  padding: 0px;
  align-items: center;
}

.stick_nav ul li {
  margin: 0px 22px;
  cursor: pointer;
  color: #334a7c;
  font-weight: 600;
  font-size: 21px;
  line-height: 22px;
  font-family: system-ui;
}

.stick_nav button:hover {
  background-color: #334a7c;
}

.sticky_logo a{
  display: inline-flex;
 width: 50px; 
 height: 50px;
 background: url(/assets/images/logo.png);
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;
}

.list_hidden_menu{
  display: flex;
  position: absolute;
  opacity: 1;
  flex-direction: column;
  background: white;
  align-items: flex-start;
  text-align: start;
  width: 200px;
  padding-top: 22px;
}

.list_hidden_menu h5 {
  color: #334a7c;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  border-top: 1px solid #00000014;
  padding: 8px 26px;
  transition: 0.3s;
}

.list_hidden_menu h5:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
  color: #007a4f;
}

.dropdown_menu {
  display: none;
  
}

.navLinkcontainer {
  display: flex;
}

.bars span {
  width: 26px;
  height: 2px;
  background: gray;
  margin: 8px 0px;
  display: flex;
}

.bars {
  display: none;
}

@media screen and (max-width: 768px) {
  .bars {
    display: block;
  }
  .navLinkcontainer {
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    right: -40%;
    transition: right 1s;
    top: 68%;
  }

  .show {
    right: -2%;
    transition: right 1s;
  }

  .stick_nav ul {
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  .stick_nav ul li {
    margin: 8px 22px;
  }
}