html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", Helvetica, Arial, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
